*.mp4
*.jpg
**/*__pycache__/
**/*.ipynb_checkpoints/
*.npy
diffdagger/eval_robot.py
diffdagger/eval_trajectory.py
diffdagger/prep_dataset.py
diffdagger/sim_run.py
diffdagger/train_ddp.py
wandb
lightning_logs/
outputs
DiffDAgger.egg-info
*.pth
*.out
*.mp4
*.slurm
temp/*
